.reservations {
    
    overflow-y: scroll;
    position: absolute;
    height: 87%;
    width: 40%;
    border: 2px;
    border-radius: 5px;
    border-color: #000000;
    background-color: #00000066;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 10px;
}

.reservations::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

.formInput {
    background-color: #00000066;
    color: #FFFFFF;
    border-radius: 5px;
    border: 0px;
}

input.middle:focus {
    outline-width: 0;
}

textarea.middle:focus {
    outline-width: 0;
}

.deleteButton:hover {
    cursor: pointer;
}

.deleteButton {
    margin-bottom: 0px; margin-right: 15px;
}